# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# own additions
.venv
*/__pycache__/*

# assigment 1
assignment1_serial_tuning/compile.log
assignment1_serial_tuning/results/*
assignment1_serial_tuning/results_saved/*
assignment1_serial_tuning/hpc_logs/*

# assigment 2
assignment2_parallel_computing/Poisson3D/__pycache__/*
assignment2_parallel_computing/results/*
assignment2_parallel_computing/hpc_logs/*
assignment2_parallel_computing/test_res/*
assignment2_parallel_computing/Poisson3D/collector*
assignment2_parallel_computing/Poisson3D/*.er
assignment2_parallel_computing/Poisson3D/poisson_gs
assignment2_parallel_computing/Poisson3D/poisson_j
